<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-invite-heading" jhiTranslate="onTientLeBonBoutApp.invite.home.createOrEditLabel">Create or edit a Invite</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="onTientLeBonBoutApp.invite.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           formControlName="nom"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="onTientLeBonBoutApp.invite.prenom" for="field_prenom">Prenom</label>
                    <input type="text" class="form-control" name="prenom" id="field_prenom"
                           formControlName="prenom"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="onTientLeBonBoutApp.invite.mail" for="field_mail">Mail</label>
                    <input type="text" class="form-control" name="mail" id="field_mail"
                           formControlName="mail"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="onTientLeBonBoutApp.invite.mdp" for="field_mdp">Mdp</label>
                    <input type="text" class="form-control" name="mdp" id="field_mdp"
                           formControlName="mdp"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="onTientLeBonBoutApp.invite.login" for="field_login">Login</label>
                    <input type="text" class="form-control" name="login" id="field_login"
                           formControlName="login"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="onTientLeBonBoutApp.invite.points" for="field_points">Points</label>
                    <input type="number" class="form-control" name="points" id="field_points"
                           formControlName="points"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="onTientLeBonBoutApp.invite.questionnaire" for="field_questionnaire">Questionnaire</label>
                    <select class="form-control" id="field_questionnaire" name="questionnaire" formControlName="questionnaire">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="questionnaireOption.id === editForm.get('questionnaire').value?.id ? editForm.get('questionnaire').value : questionnaireOption" *ngFor="let questionnaireOption of questionnaires; trackBy: trackQuestionnaireById">{{questionnaireOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
